@text: #181d24;
@red: #9c001c;
@red2: #c2717f;
@brown: #ac835e;
@brown2: #ca9d75;
@brown3: #c0b795;
@brown4: #dbbca0;
@lightBrown: #f8f3ee;
@lightBrown2: #f9f0ec;
@gray: #c4c4c4;
@purple: #ccc1de;
@cyan: #8ed6da;
@green: #95ca75;
@black: #000;
@black2: #464646;
@black3: #3f3a3a;
@white: #fff;
@FONT__ACADEMY: "Academy";
@FONT__BELLOTA_TEXT: "Bellota Text";
@FONT__LIANA: "Liana";
@FONT__MERRIWEATHER: "Merriweather";

.flex (@justify: none, @align: none, @wrap: none, @direction: none) {
    display: flex;
    & when not (@direction = none) { flex-direction:  @direction; }
    & when not (@justify   = none) { justify-content: @justify;   }
    & when not (@wrap      = none) { flex-wrap:       @wrap;      }
    & when not (@align     = none) { align-items:     @align;     }
}

.grid (@Ctpl: none, @Rauto: none, @Cgap: none, @Rgap: none) {
    display: grid;
    & when not (@Ctpl  = none) { grid-template-columns: @Ctpl;  }
    & when not (@Rauto = none) { grid-auto-rows:        @Rauto; }
    & when not (@Cgap  = none) { grid-column-gap:       @Cgap;  }
    & when not (@Rgap  = none) { grid-row-gap:          @Rgap;  }
}

.font (@size: none, @weight: none, @color: none, @family: none, @height: none, @style: none, @spacing: none) {
    & when not (@size    = none) { font-size:      @size;    }
    & when not (@weight  = none) { font-weight:    @weight   }
    & when not (@color   = none) { color:          @color;   }
    & when not (@family  = none) { font-family:    @family;  }
    & when not (@height  = none) { line-height:    @height;  }
    & when not (@style   = none) { font-style:     @style;   }
    & when not (@spacing = none) { letter-spacing: @spacing; }
}

.transition (@value: .3s, @delay: none) {
    transition: @value;
    & when not (@delay = none) { transition-delay: @delay; }
}

.hide-lg {
    display: none !important;
}

@media (max-width: 1199px) {
    .hide-sm { display: none !important; }
    .show-sm { display: block !important; }
    .show-sm-flex { display: flex !important; }
    .show-sm-grid { display: grid !important; }
    .show-sm-inline { display: inline !important; }

    body {
        padding-top: 69px;
    }

    .content-wrap {
        width: 100%;
        max-width: 768px;
        padding: 0 15px;
    }

    .header {
        height: 69px;
        .logo {
            margin-top: 22px;
            img {
                width: 129px;
            }
        }
        .header-btn {
            width: 24px;
            height: 24px;
            align-self: flex-start;
            margin-top: 22px;
            svg {
                width: 16px;
                height: 16px;
            }
            & + .header-btn {
                margin-left: 20px;
            }
        }
    }

    .footer {
        padding: 24px 0 25px;
        .logo-row {
            justify-content: space-between;
            padding-bottom: 20px;
            .column {
                width: calc(50% - 10px);
                & + .column {
                    margin-left: 0;
                }
            }
        }
        .addresses-row {
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 20px;
            padding-bottom: 20px;
            .column {
                width: calc(50% - 10px);
                &.link-column {
                    width: calc(50% - 10px);
                    margin-left: 0;
                    & + .link-column {
                        margin-left: 0;
                    }
                }
                & + .column {
                    margin-left: 0;
                }
            }
        }
        .copy-row {
            flex-direction: column;
            margin-top: 20px;
            .copy {
                margin-top: 0;
            }
            .link {
                margin-top: 10px;
                margin-left: 0;
                & + .link {
                    margin-left: 0;
                }
            }
            .artgorka {
                margin: 15px 0 0 0;
            }
        }
        &.maps {
            padding-top: 10px;
            .addresses-row {
                padding-bottom: 23px;
                .column {
                    .text + .text {
                        margin-top: 10px;
                    }
                    a.text + .text {

                    }
                }
            }
        }
    }

    .spec-projects-maps-page,
    .spec-projects-person-page,
    .spec-projects-object-page {
        padding-top: 77px;
        .page-title {
            padding-left: 0;
            p {
                .font(28px, @height: 37px);
                & + p {
                    .font(24px, @height: 28px);
                    margin-top: 0;
                }
            }
            .back-btn {
                top: -52px;
                width: 32px;
                height: 32px;
                svg {
                    width: 13px;
                }
            }
            .age-limit {
                top: -52px;
                width: 32px;
                height: 32px;
                .font(12px);
            }
            .fav-btn {
                top: -52px;
                right: 42px;
                width: 32px;
                height: 32px;
                svg {
                    width: 11px;
                }
            }
        }
        .page-subtitle {
            .font(24px, @height: 30px);
            margin-top: 15px;
            padding-left: 0;
        }
        .page-desc {
            .font(20px, @height: 24px);
            padding: 0;
        }
        .map {
            height: 350px;
            margin-top: 35px;
            .map-marker {
                position: relative;
                .flex(@align: center);
                .img-wrap {
                    width: 35px;
                    height: 35px;
                    flex-shrink: 0;
                    margin-bottom: 0;
                }
                .title {
                    .font(14px, @height: 13px);
                    margin: 0 0 0 10px;
                    padding: 2px 4px;
                    text-align: left;
                }
                .dot {
                    position: absolute;
                    top: calc(100% + 6px);
                    left: calc(50% - 9px / 2);
                    width: 9px;
                    height: 9px;
                    border-width: 2px;
                }
            }
            .map-balloon {
                width: 290px;
                height: 167px;
                padding: 29px 7px 29px 32px;
                transform: translate(calc(-50%), calc(-100% - 15px));
                .img-wrap {
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    filter: brightness(.5);
                    z-index: -1;
                }
                .title {
                    .font(18px, @color: @white, @height: 20px);
                    span {
                        .font(@color: inherit);
                    }
                }
                .desc {
                    width: 100%;
                    .font(@color: @white);
                    margin-top: 7px;
                }
                .more-link {
                    .font(@color: @white);
                    margin-top: 7px;
                }
                .dot {
                    position: absolute;
                    top: calc(100% + 6px);
                    left: calc(50% - 9px / 2);
                    width: 9px;
                    height: 9px;
                    border-width: 2px;
                }
                .x svg path {
                    fill: @white;
                    opacity: 1;
                }
            }
        }
    }

    .spec-projects-person-page {
        .map .objects-list {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: auto;
            height: auto;
            opacity: 0;
            pointer-events: none;
            .transition;
            &.opened {
                opacity: 1;
                pointer-events: all
            }
        }
        .bg-wrap {
            background: url(img/card-page/bg-sm.png) no-repeat center bottom, #fff;
            padding: 50px 0;
            .img-block {
                flex-direction: column;
                .img-wrap {
                    width: 100%;
                    max-width: 425px;
                    margin: 0 auto 35px;
                }
                .desc-wrap {
                    p {
                        .font(22px, @height: 26px);
                        & + p {
                            margin-top: 25px;
                        }
                    }
                    .btn {
                        width: 225px;
                        margin: 35px auto 0;
                    }
                }
            }
            .text-block {
                margin-top: 50px;
                .block-title p {
                    .font(28px, @height: 37px);
                    & + p {
                        .font(24px, @height: 28px);
                    }
                }
                .item {
                    width: 100%;
                    margin-top: 20px;
                    padding: 34px 11px 34px 31px;
                    .title {
                        .font(24px);
                    }
                    .text {
                        .font(14px, @height: 21px);
                        margin-top: 15px;
                    }
                    & + .item {
                        margin-top: 28px;
                    }
                }
            }
        }
    }

    .spec-projects-object-page {
        .map .objects-list {
            .spec-projects-person-page .map .objects-list;
        }
        .bg-wrap {
            background: url(img/card-page/bg-sm.png) no-repeat center bottom, #fff;
            padding: 35px 0 50px;
            .links-wrap {
                align-items: center;
                flex-direction: column;
                padding-left: 0;
                .btn + .btn {
                    margin: 15px 0 0;
                }
            }
            .text {
                margin-top: 50px;
                padding-left: 0;
                p {
                    .font(22px, @height: 26px);
                    & + p {
                        margin-top: 25px;
                    }
                }
            }
            .items-wrap {
                flex-direction: column;
                margin-top: 50px;
                .item {
                    width: auto;
                    .img-wrap img {
                        width: 100%;
                    }
                    .title {
                        .font(24px);
                        margin-top: 12px;
                    }
                    .desc {
                        .font(@height: 19px);
                    }
                    & + .item {
                        margin-top: 30px;
                    }
                }
            }
        }
    }
}