@media  screen and (max-width: 1300px) {
    .content-wrap {
        max-width: 992px;
    }

    .letter {
        font-size: 20px;
        width: 45px;
        height: 45px;
    }

    .letters-wrap {
        display: grid;
        grid-template-columns: repeat(15, auto);
        gap: 10px;
    }

    .card-page .info-block .content-wrap {
        padding-left: 100px;
    }

    .header .logo {
        margin: 0;
    }

    .header .content-wrap {
        align-items: center;
    }

    .mainpage .block-1 {
        padding-top: 92px;
    }

    .mainpage .block-1 .title {
        font-size: 54px;
    }
    .mainpage .block-1 .subtitle {
        max-width: 360px;
    }
    .mainpage .block-1 .block-image {
        height: 600px;
    }
    .mainpage .block-2 .item .value {
        font-size: 90px;
    }

    .mainpage .block-4 .items-wrap .item {
        width: 300px;
        padding-top: 300px;
        height: auto;
    }

    .mainpage .block-4 .items-wrap .item .title {
        font-size: 20px;
    }

    .mainpage .block-4 .items-wrap .item .title img {
        width: 64px;
        margin-bottom: 20px;
    }

    .mainpage .block-6 .swiper .swiper-slide .title {
        font-size: 50px;
    }

    .mainpage .block-6 .swiper .swiper-slide .project-name p {
        font-size: 36px;
    }

    .mainpage .block-6 .swiper .swiper-slide .content-wrap {
        margin-top: 6%;
        margin-left: 13%;
    }

    .mainpage .block-6 .swiper .swiper-slide {
        height: 381px;
        padding: 0;
    }

    .mainpage .block-6 .swiper .swiper-pagination {
        left: calc(50% - 381px);
        bottom: 100px;
    }

    .mainpage .block-6 .swiper .round-btn.prev {
        left: calc(50% + 200px);
        bottom: 60px;
        width: 64px;
        height: 64px;
    }

    .mainpage .block-6 .swiper .round-btn.next {
        left: calc(50% + 290px);
        bottom: 38px;
        width: 110px;
        height: 110px;
    }

    .mainpage .block-8 .items-wrap {
        grid-template-columns: repeat(2, 380px);
    }

    .mainpage .block-8 .items-wrap .item {
        width: 100%;
    }

    .mainpage .block-8 .items-wrap  {
        justify-content: center;
    }

    .mainpage .block-3 .hover-image.i1 {
        right: 178px;
    }

    .mainpage .block-3 .hover-image.i3 {
        right: 149px;
    }

    .mainpage .block-3 .hover-image.i4 {
        right: 110px;
    }

    .mainpage .block-3 .hover-image.i6 {
        right: 100px;
    }

    .mainpage .block-3 .hover-image.i7 {
        right: 85px;
    }

    .mainpage .block-3 .hover-image.i7 {
        right: 90px;
    }

    .mainpage .block-3 .hover-image.i8 {
        right: 65px;
    }

    .mainpage .block-6 .swiper .swiper-slide .project-name p._48px {
        font-size: 30px;
    }

    .card-page .info-block {
        padding-top: 50px;
    }

    .card-page .more-block .content-wrap {
        padding-left: 50px;
    }

    .card-page .categories-block .types-wrap .item:before {
        flex-shrink: 0;
        margin-right: 5px;
    }

    .card-page .categories-block .types-wrap .item {
        align-items: center;
    }

    .card-page .categories-block .types-wrap {
        padding-left: 25px;
    }

    .card-page .categories-block .tags-slider {
        padding-left: 25px;
    }

    .card-page .collections-block .items-wrap {
        padding-left: 100px;
    }

    .articles-page .items-grid {
        grid-template-columns: repeat(3, 270px);
    }

    .filters {
        grid-template-columns: repeat(4, 255px);
    }

    .rayon-page .page-title .container p {
        display: flex;
        flex-direction: column;
    }

    .rayon-page .page-title .container .count {
        top: 55px;
    }

    .video {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .video .img-wrap {
        padding-bottom: 0;
        height: 450px;
    }

    .catalog-page .items-list {
        padding-left: 0;
    }

    .media-item .title {
        margin: 0 auto;
    }

    .media-item .desc-wrap {
        text-align: center;
        padding-top: 15px;
    }

    .media-item .btns-wrap {
        margin: 0 auto;
        justify-content: center;
    }

    .catalog-page {
        padding: 50px 0;
    }

    .media-item .player-wrap {
        margin-bottom: 25px;
    }
}

@media  screen and (max-width: 992px) {
    .content-wrap {
        max-width: 768px;
    }

    .document-page .text {
        margin-top: 50px;
    }


    .media-item .btns-wrap .fav-btn {
        margin-left: 0;
    }

    .media-item .btns-wrap .age-limit {
        margin-right: 10px;
    }

    .letters-wrap {
        grid-template-columns: repeat(10, auto);
    }

    .articles-page .page-title .container p {
        font-size: 50px;
    }

    .file-page .page-title .container p {
        font-size: 45px;
    }

    .mobile-header__button svg {
        max-height: 48px;
        width: auto;
    }

    .mobile-header__button-login {
        display: flex;
        height: auto;
        flex-shrink: 0;
    }
    .mobile-block {
        display: grid;
    }

    .mobile-menu-listbar.hidden {
        display: none;
    }

    .header-navbar {
        display: none;
    }

    .header__list {
        display: none;
    }

    .header .logo {
        margin: 0;
    }

    header .content-wrap {
        max-height: 69px;
    }

    .header__list.book {
        display: block;
        border: none;
        background: none;
        padding: 0;
        margin: 0 0 0 auto;
    }

    .block-1 .content-wrap {
        display: flex;
        flex-direction: column;
        width: 100vw;
        max-width: none;
        padding: 0;
    }

    .mainpage .block-2 {
        display: none;
    }
    .mainpage .block-1 .round-btn {
       display: none;
    }
    .mainpage .block-1 {
        height: auto;
        padding-top: 0;
    }
    .mainpage .block-1 .block-image {
        position: static;
        width: 100vw;
        height: auto;
        order: 1;
    }
    .mainpage .block-1 .subtitle {
        order: 3;
        margin: 12px auto 0 auto;
        max-width: 250px;
        height: auto;
    }
    .mainpage-search {
        order: 4;
    }
    .mainpage .block-1 .title {
        order: 2;
        text-align: center;
        margin-top: 25px;
        font-size: 40px;
        line-height: 35px;
    }
    .mainpage .block-3 {
        margin-top: 50px;
    }
    .mainpage .block-3 .block-title p {
        font-size: 45px;
        line-height: 30px;
    }

    .mainpage .block-3 .items-wrap {
        padding-left: 0;
        margin-top: 50px;
    }

    .mainpage .block-3 .items-wrap .item {
        font-size: 25px;
    }

    .mainpage .block-3 .items-wrap .item .count {
        font-size: 14px;
        top: -7px;
    }

    .mainpage .block-3 .items-wrap .item .count {
        bottom: 0;
    }

    .mainpage .block-4 {
        display: none;
    }
    .mainpage .block-5 {
        display: none;
    }
    .mainpage .block-6 {
        display: none;
    }
    .mainpage .block-7 {
        margin-top: 50px;
    }
    .mainpage .block-7 .block-title p:first-child {
        padding: 0;
        font-size: 45px;
        line-height: 60px;
    }

    .mainpage .block-7 .items-wrap .item:hover .title {
        font-size: 20px;

    }

    .mainpage .block-7 .block-title p:last-child {
        padding: 0;
        font-size: 45px;
        line-height: 30px;
    }

    .mainpage .block-7 .items-wrap {
        margin-top: 25px;
        width: auto;
    }

    .mainpage .block-7 .items-wrap .item .desc .desc-reg__a {
        font-size: 16px;
    }

    .mainpage .block-7 .items-wrap .item .desc-wrap {
        padding-bottom: 25px;
    }

    .mainpage .block-7 .items-wrap .item .desc-wrap .desc ul {
        margin: 12px 0;
    }

    .mainpage .block-7 .items-wrap .item .desc-wrap .desc ul li {
        font-size: 16px;
        padding-left: 30px;
    }

    .mainpage .block-7 .items-wrap .item .desc-wrap .desc {
        width: auto;
    }

    .mainpage .block-7 .items-wrap .item .desc-wrap .desc p {
        font-size: 16px;
    }

    .mainpage .block-7 .items-wrap .item .desc-wrap .links-wrap {
        margin-top: 15px;
    }

    .mainpage .block-7 .items-wrap .item .title {
        font-size: 20px;
        padding: 20px 0;
    }
    .mainpage .block-8 {
        display: none;
    }
    .mainpage .block-9 {
        margin-top: 50px;
    }
    .mainpage .block-9 .block-title {
        font-size: 45px;
        line-height: 45px;
    }

    .mainpage .block-9 .subtitle {
        margin-top: 25px;
        width: auto;
        font-size: 16px;
        line-height: 22px;
    }

    .mainpage .block-9 .form-wrap {
        width: auto;
        margin-top: 25px;
    }

    .input-wrap input {
        font-size: 13px;
    }

    .check-wrap .text {
        font-size: 12px;
    }

    .mainpage .block-9 .form-wrap .btn {
        width: auto;
        font-size: 16px;
        line-height: 16px;
        margin: 25px auto 0;
        padding: 20px 40px;
        color: black;
    }

    .mainpage .block-9 .form-wrap .contact-us {
        width: auto;
        font-size: 16px;
        line-height: 22px;
        margin-top: 25px;
    }

    .contact-us__a {
        font-size: 16px;
        line-height: 22px;
    }

    .mainpage .block-10 {
        margin-top: 25px;
        padding-top: 10px;
    }
    .mainpage .block-10 .content-wrap::before {
        top: 0;
        transform: translateY(-14px);
    }

    .mainpage .block-10 .p1 {
        font-size: 32px;
        display: flex;
        align-items: center;
    }

    .mainpage .block-10 .p2 {
        font-size: 32px;
        margin: 3px 0 0 8px;
        display: flex;
        align-items: center;
    }

    .mainpage .block-10 .round-btn {
        margin-left: auto;
        width: 64px;
        height: 64px;
    }

    .mainpage-search__button {
        max-width: 120px;
        line-height: 38px;
    }

    .mainpage-search {
        margin-top: 25px;
    }
    .mainpage-search__input {
        padding: 9px 12px;
    }
    .running-text {
        display: none;
    }

    .mainpage .block-3 .hover-image {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    .mobile-menu.mobile-menu-active {
        transform: translateY(0);
    }

    .mobile-header__button {
        display: block;
    }

    .card-page {
        background: #F8F3EEE5;
    }

    .card-page .info-block .content-wrap {
        padding-left: 0;
    }

    .card-page .info-block {
        padding-top: 25px;
    }

    .card-page .info-block .title {
        margin-top: 100px;
    }


    .card-page .categories-block {
        display: none;
    }

    .card-page .info-block .desc-wrap .desc {
        margin: 0 0 0 25px;
    }

    .card-page .info-block .desc-wrap .desc p:first-child + p {
        margin-top: 10px;
    }

    .card-page .info-block .desc-wrap .desc p {
        font-size: 16px;
        line-height: 20px;
    }

    .card-page .more-block .content-wrap {
        padding: 0;
    }

    .card-page .collections-block .items-wrap {
        padding-left: 50px;
        margin-top: 50px;
    }

    .card-page .collections-block .items-wrap .item img {
        display: none;
    }

    .card-page .collections-block .items-wrap .item {
        padding: 50px 0;
    }

    .card-page .photo-block {
        margin-top: 100px;
    }

    .card-page .info-block {
        height: auto;
    }
    .card-page .info-block .desc-wrap {
        grid-template-columns: auto;
        justify-content: center;
        margin-top: 25px;
        align-items: center;
        gap: 50px;
    }

    .card-page .info-block .desc-wrap .img-wrap {
        margin: 0 auto;
    }

    .card-page .collections-block {
        margin-top: 100px;
    }

    .card-page .collections-block .items-wrap .item {
        font-size: 18px;
    }

    .articles-page .items-grid {
        grid-template-columns: repeat(2, 270px);
    }

    .filters {
        display: flex;
        gap: 15px;
    }

    .card-page .more-block .content-wrap .columns-wrap .column.full-width {
        grid-column: 1/3;
    }

    .card-page .more-block .content-wrap .columns-wrap {
        grid-template-columns: 1fr 1fr;
    }

    .catalog-page {
        padding: 25px;
    }

    .media-item .title {
        font-size: 25px;
    }

    .catalog-page .media-list {
        padding: 0;
    }

    .catalog-page .page-title {
        display: grid;
        grid-template-columns: 73px 1fr;
        padding: 0;
        gap: 15px;

    }

    .catalog-page .page-title .back-btn {
        position: relative;
        top: auto;
        left: auto;
        margin-right: 5px;
        grid-column: 1;
        grid-row: 1;
    }
    .catalog-page .page-title h1 {
        grid-column: 2;
        display: flex;
        align-items: center;
    }

    .documents-page {
        padding-top: 25px;
    }
    .documents-page .items-list {
        padding-left: 50px;
    }
}

@media  screen and (max-width: 768px) {
    .content-wrap {
        max-width: 568px;
        padding: 0 5px;
    }

    .document-page .age-limit {
        display: none;
    }

    .document-page .text .title {
        font-size: 20px;
        line-height: 25px;
    }

    .document-page .text .text-text {
        font-size: 16px;
        line-height: 25px;
    }

    .blockquote {
        margin: 0;
        padding: 20px 0;
    }

    .blockquote blockquote {
        margin: 0;
    }

    .blockquote-text {
        font-size: 18px;
        line-height: 22px;
    }

    .catalog-page .page-title {
        grid-template-columns: 50px 1fr;
    }

    .rayon-page .page-title .container .count {
        top: 31px;
    }

    .filters {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .articles-page {
        padding: 0;
    }

    header .content-wrap {
        padding: 0;
        justify-content: space-between;
        align-items: center;
    }

    .mobile-header__button {
        margin: auto 0;
    }

    .articles-page .page-title {
        padding-top: 25px;
    }

    .articles-page .page-title .container p {
        font-size: 45px;
        display: flex;
        flex-direction: column;
    }

    .file-page .page-title .container p {
        font-size: 40px;
    }

    .region-page .page-title .container p {
        font-size: 35px;
    }

    .rayon-page .page-title .container p {
        font-size: 35px;
    }

    .letters-wrap {
        display: grid;
        grid-template-columns: repeat(9,auto);
    }


    .articles-page .items-grid {
        grid-template-columns: repeat(1, 300px);
        gap: 25px;
        justify-content: center;
    }

    .filters__link {
        max-width: none;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .content-wrap .item-link {
        max-width: 300px;
    }

    .content-wrap .item-link:not(:first-child) {
        margin-bottom: 15px;
    }

    .content-wrap .item-link .item-link__img-container {
        display: flex;
        justify-content: center;
        max-width: 270px;
    }
    .content-wrap .item-link .title {
        text-align: center;
        font-size: 25px;
    }

    .content-wrap .item-link .title::before {
        display: none;
    }

    .mobile-navigation__button {
        background-color: white;
        padding: 10px 20px 0;
        top: -47px;
        border-top-left-radius: 25px;
        border-left: 1px solid #9c001c;
        border-top: 1px solid #9c001c;
    }
    .mobile-menu {
        transform: translateY(150%);
    }

    .header .mobile-menu .content-wrap.mobile-navigation {
        position: static;
    }

    .card-page .info-block .content-wrap {
        padding: 0;
    }

    .card-page .info-block .subtitle {
        max-width: 350px;
        font-size: 15px;
    }

    .card-page .info-block .more-wrap {
        padding: 25px 10px;
    }

    .card-page .collections-block .block-title p:first-child {
        font-size: 35px;
    }

    .card-page .collections-block .block-title p:first-child + p {
        padding-left: 0;
    }

    .card-page .collections-block .items-wrap {
        padding-left: 0;
    }

    .card-page .collections-block .block-title p {
        font-size: 30px;
    }

    .card-page .photo-block .block-title {
        font-size: 35px;
    }

    .card-page .photo-block .swiper {
        margin-left: 0;
    }

    .card-page .photo-block .swiper .swiper-scrollbar {
        display: none;
    }

    .card-page .photo-block .btns-wrap {
        margin-top: 25px;
        justify-content: center;
        align-items: center;
    }

    .card-page .photo-block .btns-wrap .round-btn {
        height: 73px;
        width: 73px;
    }

    .card-page .photo-block .more-btn {
        margin-top: 25px;
    }

    .pagination .dots {
        margin: 0 15px;
    }

    .pagination .page + .page {
        margin-left: 10px;
    }

    .pagination .page {
        flex-shrink: 0;
    }

    .pagination .arrow.prev {
        margin-right: 25px;
    }

    .pagination .arrow.next {
        margin-left: 25px;
    }

    .country-page .page-title .container .count {
        top: 40px;
        left: calc(100% + 12px);
    }

    .file-page .page-title .container {
        flex-direction: column;
        gap: 0;
    }

    .media-item {
        grid-template-columns: auto;
    }

    .media-item .desc-wrap {
        display: flex;
        flex-direction: column;
    }

    .media-item .title {
        margin: 0 auto 25px;
    }

    .media-item .title::before {
        background: none;
    }

    .catalog-page .page-title h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .catalog-page .page-title .back-btn {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }

    .catalog-page .page-title .back-btn svg {
        width: 20px;
        height: auto;
    }

    .documents-page .items-list {
        padding-left: 0;
        margin-top: 50px;
    }
    .documents-page .page-title .back-btn {
        width: 50px;
        height: 50px;
        top: 0;
    }

    .documents-page .page-title .back-btn svg {
        width: 20px;
        height: auto;
    }

    .documents-page .page-title {
        padding-left: 75px;
    }
    .documents-page .page-title p {
        font-size: 45px;
    }

    .media-item .desc p {
        font-size: 16px;
        margin-top: 0;
    }

    .media-item .fav-btn {
        margin-left: 15px;
    }

    .media-item {
        gap: 15px;
    }

    .catalog-page .items-list {
        margin-top: 50px;
    }
}

@media  screen and (max-width: 568px) {
    .header .mobile-menu .content-wrap.mobile-navigation {
        grid-template-columns: repeat(3, 100px);
    }

    .blockquote-text {
        width: 100%;
    }

    .card-page .info-block .desc-wrap {
        gap: 25px;
    }

    .card-page .more-block .content-wrap .columns-wrap {
        grid-template-columns: auto;
    }

    .card-page .more-block .content-wrap .columns-wrap .column.full-width {
        grid-column: 1/2;
    }

    .card-page .more-block .content-wrap .columns-wrap .column {
        align-items: center;
    }

    .content-fetch-items {
        display: grid;
        gap: 15px;
    }

    .content-fetch-items .item {
        font-size: 17px;
    }

    .mainpage .block-10 .p1 {
        font-size: 26px;
    }

    .input-wrap input {
        font-size: 11px;
    }

    .mainpage .block-10 .p2 {
        font-size: 26px;
    }

    .filters__link {
        padding: 10px 0;
    }

    .mainpage .block-7 .block-title p:first-child {
        font-size: 40px;
    }

    .mainpage .block-7 .block-title p:last-child {
        font-size: 40px;
    }

    .mainpage .block-3 .block-title p {
        font-size: 40px;
    }

    .mainpage .block-9 .block-title {
        font-size: 40px;
        display: flex;
        flex-direction: column;
    }

    .filters {
        margin-bottom: 50px;
        gap: 25px;
    }

    .articles-page .page-title .container .count {
        display: none;
    }

    .articles-page .page-title .container p {
        font-size: 40px;
    }
    .file-page .page-title .container p {
        font-size: 35px;
    }
    .mobile-navigation__link__background {
        font-size: 16px;
    }
    .mobile-navigation__link > svg {
        width: 35px;
    }
    .mobile-header__button-login {
        font-size: 20px;
        flex-shrink: 0;
    }
    .mobile-header__button-login svg {
        width: 25px;
        height: auto;
    }
    .mobile-header__button {
        width: 50px;
        height: auto;
    }

    .letters-wrap {
        grid-template-columns: repeat(6,auto);
    }

    .region-page .page-title .container p {
        font-size: 36px;
    }

    .region-page .page-title .container p span {
        font-size: 30px;
    }

    .rayon-page .page-title .container p {
        font-size: 36px;
    }

    .rayon-page .page-title .container p span {
        font-size: 30px;
    }

    .documents-page .page-title {
        display: flex;
        flex-direction: column-reverse;
        padding-left: 0;
    }

    .documents-page .page-title .back-btn {
        position: relative;
        margin-bottom: 15px;
    }

    .document-item .title {
    font-size: 18px;
    }
    .document-item {
        display: grid;
        grid-template-columns: 50px 1fr;
    }
}

@media  screen and (max-width: 430px) {
    .rayon-page .page-title .container p {
        font-size: 25px;
    }

    .blockquote-text {
        font-size: 16px;
    }


    .rayon-page .page-title .container p span {
        font-size: 20px;
    }

    .region-page .page-title .container p {
        font-size: 25px;
    }

    .region-page .page-title .container p span {
        font-size: 20px;
    }

    .file-page .page-title .container p {
        font-size: 30px;
    }

    .catalog-page .page-title h1 {
        font-size: 20px;
        line-height: 25px;
    }

    .catalog-page .page-title {
        grid-template-columns: 30px 1fr;
    }
    .catalog-page .page-title .back-btn {
        width: 30px;
        height: 30px;
        margin: auto 0;
    }

    .document-page .page-title h1 {
        font-size: 30px;
    }
}