.hide-lg {
  display: none !important;
}
@media (max-width: 1199px) {
  .hide-sm {
    display: none !important;
  }
  .show-sm {
    display: block !important;
  }
  .show-sm-flex {
    display: flex !important;
  }
  .show-sm-grid {
    display: grid !important;
  }
  .show-sm-inline {
    display: inline !important;
  }
  body {
    padding-top: 69px;
  }
  .content-wrap {
    width: 100%;
    max-width: 768px;
    padding: 0 15px;
  }
  .header {
    height: 69px;
  }
  .header .logo {
    margin-top: 22px;
  }
  .header .logo img {
    width: 129px;
  }
  .header .header-btn {
    width: 24px;
    height: 24px;
    align-self: flex-start;
    margin-top: 22px;
  }
  .header .header-btn svg {
    width: 16px;
    height: 16px;
  }
  .header .header-btn + .header-btn {
    margin-left: 20px;
  }
  .footer {
    padding: 24px 0 25px;
  }
  .footer .logo-row {
    justify-content: space-between;
    padding-bottom: 20px;
  }
  .footer .logo-row .column {
    width: calc(50% - 10px);
  }
  .footer .logo-row .column + .column {
    margin-left: 0;
  }
  .footer .addresses-row {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .footer .addresses-row .column {
    width: calc(50% - 10px);
  }
  .footer .addresses-row .column.link-column {
    width: calc(50% - 10px);
    margin-left: 0;
  }
  .footer .addresses-row .column.link-column + .link-column {
    margin-left: 0;
  }
  .footer .addresses-row .column + .column {
    margin-left: 0;
  }
  .footer .copy-row {
    flex-direction: column;
    margin-top: 20px;
  }
  .footer .copy-row .copy {
    margin-top: 0;
  }
  .footer .copy-row .link {
    margin-top: 10px;
    margin-left: 0;
  }
  .footer .copy-row .link + .link {
    margin-left: 0;
  }
  .footer .copy-row .artgorka {
    margin: 15px 0 0 0;
  }
  .footer.maps {
    padding-top: 10px;
  }
  .footer.maps .addresses-row {
    padding-bottom: 23px;
  }
  .footer.maps .addresses-row .column .text + .text {
    margin-top: 10px;
  }
  .spec-projects-maps-page,
  .spec-projects-person-page,
  .spec-projects-object-page {
    padding-top: 77px;
  }
  .spec-projects-maps-page .page-title,
  .spec-projects-person-page .page-title,
  .spec-projects-object-page .page-title {
    padding-left: 0;
  }
  .spec-projects-maps-page .page-title p,
  .spec-projects-person-page .page-title p,
  .spec-projects-object-page .page-title p {
    font-size: 28px;
    line-height: 37px;
  }
  .spec-projects-maps-page .page-title p + p,
  .spec-projects-person-page .page-title p + p,
  .spec-projects-object-page .page-title p + p {
    font-size: 24px;
    line-height: 28px;
    margin-top: 0;
  }
  .spec-projects-maps-page .page-title .back-btn,
  .spec-projects-person-page .page-title .back-btn,
  .spec-projects-object-page .page-title .back-btn {
    top: -52px;
    width: 32px;
    height: 32px;
  }
  .spec-projects-maps-page .page-title .back-btn svg,
  .spec-projects-person-page .page-title .back-btn svg,
  .spec-projects-object-page .page-title .back-btn svg {
    width: 13px;
  }
  .spec-projects-maps-page .page-title .age-limit,
  .spec-projects-person-page .page-title .age-limit,
  .spec-projects-object-page .page-title .age-limit {
    top: -52px;
    width: 32px;
    height: 32px;
    font-size: 12px;
  }
  .spec-projects-maps-page .page-title .fav-btn,
  .spec-projects-person-page .page-title .fav-btn,
  .spec-projects-object-page .page-title .fav-btn {
    top: -52px;
    right: 42px;
    width: 32px;
    height: 32px;
  }
  .spec-projects-maps-page .page-title .fav-btn svg,
  .spec-projects-person-page .page-title .fav-btn svg,
  .spec-projects-object-page .page-title .fav-btn svg {
    width: 11px;
  }
  .spec-projects-maps-page .page-subtitle,
  .spec-projects-person-page .page-subtitle,
  .spec-projects-object-page .page-subtitle {
    font-size: 24px;
    line-height: 30px;
    margin-top: 15px;
    padding-left: 0;
  }
  .spec-projects-maps-page .page-desc,
  .spec-projects-person-page .page-desc,
  .spec-projects-object-page .page-desc {
    font-size: 20px;
    line-height: 24px;
    padding: 0;
  }
  .spec-projects-maps-page .map,
  .spec-projects-person-page .map,
  .spec-projects-object-page .map {
    height: 350px;
    margin-top: 35px;
  }
  .spec-projects-maps-page .map .map-marker,
  .spec-projects-person-page .map .map-marker,
  .spec-projects-object-page .map .map-marker {
    position: relative;
    display: flex;
    align-items: center;
  }
  .spec-projects-maps-page .map .map-marker .img-wrap,
  .spec-projects-person-page .map .map-marker .img-wrap,
  .spec-projects-object-page .map .map-marker .img-wrap {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    margin-bottom: 0;
  }
  .spec-projects-maps-page .map .map-marker .title,
  .spec-projects-person-page .map .map-marker .title,
  .spec-projects-object-page .map .map-marker .title {
    font-size: 14px;
    line-height: 13px;
    margin: 0 0 0 10px;
    padding: 2px 4px;
    text-align: left;
  }
  .spec-projects-maps-page .map .map-marker .dot,
  .spec-projects-person-page .map .map-marker .dot,
  .spec-projects-object-page .map .map-marker .dot {
    position: absolute;
    top: calc(100% + 6px);
    left: calc(50% - 9px / 2);
    width: 9px;
    height: 9px;
    border-width: 2px;
  }
  .spec-projects-maps-page .map .map-balloon,
  .spec-projects-person-page .map .map-balloon,
  .spec-projects-object-page .map .map-balloon {
    width: 290px;
    height: 167px;
    padding: 29px 7px 29px 32px;
    transform: translate(calc(-50%), calc(-100% - 15px));
  }
  .spec-projects-maps-page .map .map-balloon .img-wrap,
  .spec-projects-person-page .map .map-balloon .img-wrap,
  .spec-projects-object-page .map .map-balloon .img-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: brightness(0.5);
    z-index: -1;
  }
  .spec-projects-maps-page .map .map-balloon .title,
  .spec-projects-person-page .map .map-balloon .title,
  .spec-projects-object-page .map .map-balloon .title {
    font-size: 18px;
    color: #fff;
    line-height: 20px;
  }
  .spec-projects-maps-page .map .map-balloon .title span,
  .spec-projects-person-page .map .map-balloon .title span,
  .spec-projects-object-page .map .map-balloon .title span {
    color: inherit;
  }
  .spec-projects-maps-page .map .map-balloon .desc,
  .spec-projects-person-page .map .map-balloon .desc,
  .spec-projects-object-page .map .map-balloon .desc {
    width: 100%;
    color: #fff;
    margin-top: 7px;
  }
  .spec-projects-maps-page .map .map-balloon .more-link,
  .spec-projects-person-page .map .map-balloon .more-link,
  .spec-projects-object-page .map .map-balloon .more-link {
    color: #fff;
    margin-top: 7px;
  }
  .spec-projects-maps-page .map .map-balloon .dot,
  .spec-projects-person-page .map .map-balloon .dot,
  .spec-projects-object-page .map .map-balloon .dot {
    position: absolute;
    top: calc(100% + 6px);
    left: calc(50% - 9px / 2);
    width: 9px;
    height: 9px;
    border-width: 2px;
  }
  .spec-projects-maps-page .map .map-balloon .x svg path,
  .spec-projects-person-page .map .map-balloon .x svg path,
  .spec-projects-object-page .map .map-balloon .x svg path {
    fill: #fff;
    opacity: 1;
  }
  .spec-projects-person-page .map .objects-list {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
  }
  .spec-projects-person-page .map .objects-list.opened {
    opacity: 1;
    pointer-events: all;
  }
  .spec-projects-person-page .bg-wrap {
    background: url(img/card-page/bg-sm.png) no-repeat center bottom, #fff;
    padding: 50px 0;
  }
  .spec-projects-person-page .bg-wrap .img-block {
    flex-direction: column;
  }
  .spec-projects-person-page .bg-wrap .img-block .img-wrap {
    width: 100%;
    max-width: 425px;
    margin: 0 auto 35px;
  }
  .spec-projects-person-page .bg-wrap .img-block .desc-wrap p {
    font-size: 22px;
    line-height: 26px;
  }
  .spec-projects-person-page .bg-wrap .img-block .desc-wrap p + p {
    margin-top: 25px;
  }
  .spec-projects-person-page .bg-wrap .img-block .desc-wrap .btn {
    width: 225px;
    margin: 35px auto 0;
  }
  .spec-projects-person-page .bg-wrap .text-block {
    margin-top: 50px;
  }
  .spec-projects-person-page .bg-wrap .text-block .block-title p {
    font-size: 28px;
    line-height: 37px;
  }
  .spec-projects-person-page .bg-wrap .text-block .block-title p + p {
    font-size: 24px;
    line-height: 28px;
  }
  .spec-projects-person-page .bg-wrap .text-block .item {
    width: 100%;
    margin-top: 20px;
    padding: 34px 11px 34px 31px;
  }
  .spec-projects-person-page .bg-wrap .text-block .item .title {
    font-size: 24px;
  }
  .spec-projects-person-page .bg-wrap .text-block .item .text {
    font-size: 14px;
    line-height: 21px;
    margin-top: 15px;
  }
  .spec-projects-person-page .bg-wrap .text-block .item + .item {
    margin-top: 28px;
  }
  .spec-projects-object-page .map .objects-list {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
  }
  .spec-projects-object-page .map .objects-list.opened {
    opacity: 1;
    pointer-events: all;
  }
  .spec-projects-object-page .bg-wrap {
    background: url(img/card-page/bg-sm.png) no-repeat center bottom, #fff;
    padding: 35px 0 50px;
  }
  .spec-projects-object-page .bg-wrap .links-wrap {
    align-items: center;
    flex-direction: column;
    padding-left: 0;
  }
  .spec-projects-object-page .bg-wrap .links-wrap .btn + .btn {
    margin: 15px 0 0;
  }
  .spec-projects-object-page .bg-wrap .text {
    margin-top: 50px;
    padding-left: 0;
  }
  .spec-projects-object-page .bg-wrap .text p {
    font-size: 22px;
    line-height: 26px;
  }
  .spec-projects-object-page .bg-wrap .text p + p {
    margin-top: 25px;
  }
  .spec-projects-object-page .bg-wrap .items-wrap {
    flex-direction: column;
    margin-top: 50px;
  }
  .spec-projects-object-page .bg-wrap .items-wrap .item {
    width: auto;
  }
  .spec-projects-object-page .bg-wrap .items-wrap .item .img-wrap img {
    width: 100%;
  }
  .spec-projects-object-page .bg-wrap .items-wrap .item .title {
    font-size: 24px;
    margin-top: 12px;
  }
  .spec-projects-object-page .bg-wrap .items-wrap .item .desc {
    line-height: 19px;
  }
  .spec-projects-object-page .bg-wrap .items-wrap .item + .item {
    margin-top: 30px;
  }
}
/*# sourceMappingURL=responsive.scss.map */